[submodule "dein/repos/github.com/plytophogy/vim-virtualenv"]
	path = dein/repos/github.com/plytophogy/vim-virtualenv
	url = https://github.com/plytophogy/vim-virtualenv.git
[submodule "dein/repos/github.com/scrooloose/nerdtree"]
	path = dein/repos/github.com/scrooloose/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dein/repos/github.com/heavenshell/vim-pydocstring"]
	path = dein/repos/github.com/heavenshell/vim-pydocstring
	url = https://github.com/heavenshell/vim-pydocstring.git
[submodule "dein/repos/github.com/jsfaint/gen_tags.vim"]
	path = dein/repos/github.com/jsfaint/gen_tags.vim
	url = https://github.com/jsfaint/gen_tags.vim.git
[submodule "dein/repos/github.com/zchee/deoplete-jedi"]
	path = dein/repos/github.com/zchee/deoplete-jedi
	url = https://github.com/zchee/deoplete-jedi.git
[submodule "dein/repos/github.com/Shougo/dein.vim"]
	path = dein/repos/github.com/Shougo/dein.vim
	url = https://github.com/Shougo/dein.vim
[submodule "dein/repos/github.com/Shougo/deoplete.nvim"]
	path = dein/repos/github.com/Shougo/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "dein/repos/github.com/Shougo/neocomplete.vim"]
	path = dein/repos/github.com/Shougo/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "dein/repos/github.com/Shougo/vimproc.vim"]
	path = dein/repos/github.com/Shougo/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "dein/repos/github.com/vim-airline/vim-airline-themes"]
	path = dein/repos/github.com/vim-airline/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "dein/repos/github.com/vim-airline/vim-airline"]
	path = dein/repos/github.com/vim-airline/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "dein/repos/github.com/wokalski/autocomplete-flow"]
	path = dein/repos/github.com/wokalski/autocomplete-flow
	url = https://github.com/wokalski/autocomplete-flow.git
[submodule "dein/repos/github.com/w0rp/ale"]
	path = dein/repos/github.com/w0rp/ale
	url = https://github.com/w0rp/ale.git
[submodule "dein/repos/github.com/tpope/vim-markdown"]
	path = dein/repos/github.com/tpope/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "dein/repos/github.com/whatyouhide/vim-gotham"]
	path = dein/repos/github.com/whatyouhide/vim-gotham
	url = https://github.com/whatyouhide/vim-gotham.git
[submodule "dein/repos/github.com/rust-lang/rust.vim"]
	path = dein/repos/github.com/rust-lang/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "dein/repos/github.com/shime/vim-livedown"]
	path = dein/repos/github.com/shime/vim-livedown
	url = https://github.com/shime/vim-livedown.git
[submodule "dein/repos/github.com/romainl/Apprentice"]
	path = dein/repos/github.com/romainl/Apprentice
	url = https://github.com/romainl/Apprentice.git
[submodule "dein/repos/github.com/pangloss/vim-javascript"]
	path = dein/repos/github.com/pangloss/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "dein/repos/github.com/mxw/vim-jsx"]
	path = dein/repos/github.com/mxw/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "dein/repos/github.com/davidhalter/jedi-vim"]
	path = dein/repos/github.com/davidhalter/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
